
  
  /* Style the label to display next to the inputs */

  #branch{
    display: none;
  }
  #rank{
    display: none;
  }
  #caste{
    display: none;
  }
  #button{
    display: none;
  }
  #gender{
    display: none;
  }
 

  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: bold;
  }
  
  /* Style the submit button */
  .btn {
    background-color: #4CAF50;
    /* background-color: #1c1427; */
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=number] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }


.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    /* background-color: #7eca9c; */
    padding: 20px;
  }

  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .row{
      padding: 1rem;
  }

  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

  .row p {
    font-family: 'Ubuntu Mono', monospace;
    font-size: larger;
  }
  /* navbar */

  .topnav {
    background-color: #333;
    /* background-color: #40394a; */
    overflow: hidden;
    margin-bottom: 2rem;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav .right{
      float: right;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #4CAF50;
    /* background-color: #7eca97; */
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }

  /* result */

  .result{
    border-radius: 8px;
    background-color: #f2f2f2;
    /* background-color: #7eca9c; */
    padding: 50px;
    margin: 10px auto 10px auto;
  }
 /* table */
 #mytable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#mytable td, #mytable th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#mytable tr:nth-child(even){background-color: #f2f2f2;}

#mytable tr:hover {background-color: #ddd;}

#mytable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}
